<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GitPrueba.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>42A552CE1D16584C007F4088</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42A552E21D16584D007F4088</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42A552ED1D16584D007F4088</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
