<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Prueba3.0.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>42A5538B1D190BF0007F4088</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42A553A21D190BF1007F4088</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42A553AD1D190BF2007F4088</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
